* {
  margin: 0;
  padding: 0;
}
#container {
  height: auto;
  width: 100%;
  margin: auto;
}
#logo {
  padding: 20px;
}
#nav {
  z-index: 1;
  position: sticky;
  top: 0;
  height: 50px;
  background-color: green;
}
#nav ul {
  list-style: none;
  padding: 10px;
}
#nav ul li {
  display: inline;
}
#nav ul li a {
  color: black;
  font-family: candara;
  font-size: 20px;
  margin-left: 120px;
  text-decoration: none;
}
#nav ul li a:hover {
  color: black;
}
#second_row {
  height: 600px;
  width: 90%;
  margin: auto;
  background-color: #f89cab;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#text_1,
#second_row_img {
  height: 500px;
  width: 600px;
  /* background-color: yellow; */
  position: relative;
}
#second_row h1 {
  position: absolute;
  width: 400px;
  left: 30px;
}

#text_1 span {
  position: absolute;
  width: 500px;
  font-size: 20px;
  left: 50px;
  top: 50px;
}
#more {
  position: absolute;
  top: 250px;
  left: 100px;
}
#more button {
  height: 40px;
  width: 100px;
}
#more button:hover {
  background-color: green;
}
#slider-img1 {
  height: 500px;
  /* float: right; */
}
#second_row a input {
  color: red;
  height: 40px;
  width: 100px;
  font-size: 18px;
  margin-left: 200px;
}
#latest_products {
  height: 800px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}
#latest_1 {
  height: 370px;
  width: 90%;
  margin: auto;
  /* background-color: blue; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#latest_1_div,
#latest_2_div,
#latest_3_div,
#latest_4_div {
  height: 340px;
  width: 300px;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#latest_1_div_item_1_img,
#latest_2_div_item_1_img,
#latest_3_div_item_1_img,
#latest_4_div_item_1_img {
  height: 200px;
  /* border: 1px solid; */
}
#latest_1_div_item_1_name,
#latest_2_div_item_1_name,
#latest_3_div_item_1_name,
#latest_4_div_item_1_name {
  height: 50px;
  /* background-color: grey; */
}

#latest_2 {
  height: 370px;
  width: 90%;
  margin: auto;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-evenly;
}

#latest_2_div_1,
#latest_2_div_2,
#latest_2_div_3,
#latest_2_div_4 {
  height: 340px;
  width: 300px;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#latest_1_div_1_item_1_img,
#latest_2_div_2_item_1_img,
#latest_2_div_3_item_1_img,
#latest_2_div_4_item_1_img {
  height: 200px;
  /* border: 1px solid; */
}
#latest_2_div_1_item_1,
#latest_2_div_2_item_1,
#latest_2_div_3_item_1,
#latest_2_div_4_item_1 {
  height: 200px;
  /* border: 1px solid; */
}
#latest_2_div_1_item_1_name,
#latest_2_div_3_item_1_name,
#latest_2_div_2_item_1_name,
#latest_2_div_item_1_name {
  height: 50px;
  /* background-color: grey; */
}

#all_product a {
  text-decoration: none;
}
#all_product_btn {
  height: 40px;
  width: 200px;
  font-size: 20px;
  border: none;
}

#all_product_btn:hover {
  color: black;
  background-color: grey;
}

#row_four {
  height: 400px;
  width: 90%;
  margin: auto;
  background-color: #7fd7eb;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#about_blog_img,
#about_text {
  height: 400px;
  width: 600px;
  /* border: 1px solid; */
  position: relative;
}
#row_four span {
  position: absolute;
  left: 50px;
  font-size: 20px;
}

#about_text {
}
#shop_with_us {
  width: 90%;
  height: 230px;
  margin: auto;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
}

#first_res,
#second_res,
#thirs_res {
  padding-top: 40px;
  /* margin-top: 500px; */
  float: left;
  height: 130px;
  /* border: 1px solid; */
  background-color: #eeeeee;
  width: 300px;
  align-items: center;
  margin: 40px;
}

#Contact {
  /* height: 200px; */
  width: 90%;
  margin: auto;
  /* color: red; */
  background-color: red;
}
#Contact h1 {
  margin-left: 40px;
}

#contact {
  height: 600px;
  width: 90%;
  background-color: #f9fafa;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#contact_1,
#contact_2 {
  height: 500px;
  width: 45%;
  /* background-color: green; */
  /* border: 1px solid; */
  position: relative;
}
#name {
  position: absolute;
  height: 40px;
  width: 80%;
  left: 100px;
  top: 50px;
  font-size: 20px;
  border: none;
}
#number {
  position: absolute;
  height: 40px;
  width: 80%;
  left: 100px;
  top: 110px;
  border: none;
  font-size: 20px;
}
#email {
  position: absolute;
  height: 40px;
  width: 80%;
  border: none;
  left: 100px;
  top: 170px;
  font-size: 20px;
}
#message {
  position: absolute;
  height: 100px;
  width: 80%;
  border: none;
  left: 100px;
  top: 220px;
  font-size: 20px;
}
#send_btn {
  position: absolute;
  height: 40px;
  width: 20%;
  left: 100px;
  top: 330px;
  font-size: 20px;
}
/*--------------------------------------- media QUARY START------------------------- */
@media screen and (min-width: 360px) and (max-width: 915px) {
  * {
    margin: 0;
    padding: 0;
  }
  #container {
    height: auto;
    width: 100%;
    margin: auto;
  }
  #logo {
    padding: 20px;
  }
  #nav {
    z-index: 1;
    position: sticky;
    top: 0;
    height: 50px;
    background-color: green;
  }
  #nav ul {
    list-style: none;
    padding: 10px;
  }
  #nav ul li {
    display: inline;
  }
  #nav ul li a {
    color: black;
    font-family: candara;
    font-size: 10px;
    margin-left: 10px;
    text-decoration: none;
  }
  #nav ul li a:hover {
    color: black;
  }
  #second_row {
    height: 700px;
    width: 90%;
    margin: auto;
    background-color: #f89cab;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    justify-content: center;
  }

  #text_1 {
    height: 250px;
    width: 300px;
    /* background-color: yellow; */
    /* border: 1px solid; */
    position: relative;
  }
  #second_row h1 {
    position: absolute;
    width: 400px;
    left: 30px;
    font-size: 20px;
  }

  #text_1 span {
    /* background-color: white; */
    position: absolute;
    width: 230px;
    font-size: 15px;
    left: 30px;
    top: 30px;
  }
  #more {
    position: absolute;
    top: 190px;
    left: 100px;
  }
  #more button {
    height: 40px;
    width: 100px;
  }
  #more button:hover {
    background-color: green;
  }
  #second_row_img {
    height: 300px;
    width: 300px;
    /* background-color: yellow; */
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
  }
  #slider-img1 {
    height: 300px;
    /* float: right; */
  }

  #latest_products {
    height: 1800px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #latest_1 {
    height: 850px;
    width: 90%;
    margin: auto;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #latest_1_div,
  #latest_2_div,
  #latest_3_div,
  #latest_4_div {
    height: 200px;
    width: 300px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #latest_1_div_item_1_img,
  #latest_2_div_item_1_img,
  #latest_3_div_item_1_img,
  #latest_4_div_item_1_img {
    height: 150px;
  }
  #latest_1_div_item_1_name,
  #latest_2_div_item_1_name,
  #latest_3_div_item_1_name,
  #latest_4_div_item_1_name {
    height: 50px;
    /* background-color: grey; */
  }

  #latest_2 {
    height: 850px;

    width: 90%;
    margin: auto;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #latest_2_div_1,
  #latest_2_div_2,
  #latest_2_div_3,
  #latest_2_div_4 {
    height: 200px;
    width: 300px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #latest_1_div_1_item_1_img,
  #latest_2_div_2_item_1_img,
  #latest_2_div_3_item_1_img,
  #latest_2_div_4_item_1_img {
    height: 150px;
  }
  #latest_2_div_1_item_1,
  #latest_2_div_2_item_1,
  #latest_2_div_3_item_1,
  #latest_2_div_4_item_1 {
    height: 200px;
    /* border: 1px solid; */
  }
  #latest_2_div_1_item_1_name,
  #latest_2_div_3_item_1_name,
  #latest_2_div_2_item_1_name,
  #latest_2_div_item_1_name {
    height: 50px;
  }

  #all_product a {
    text-decoration: none;
  }
  #all_product_btn {
    height: 30px;
    width: 200px;
    font-size: 16px;
    border: none;
  }

  #all_product_btn:hover {
    color: black;
    background-color: grey;
  }

  #row_four {
    height: 450px;
    width: 90%;
    margin: auto;
    background-color: #7fd7eb;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    /* justify-content: center; */
  }
  #about_blog_img {
    height: 200px;
    width: 90%;
    /* background-color: yellow; */
  }
  #about_text h1 {
    font-size: 20px;
  }
  #about_text {
    width: 90%;
    height: 200px;
    /* width: 600px; */
    /* border: 1px solid; */
    position: relative;
  }
  #row_four span {
    position: absolute;
    left: 20px;
    font-size: 15px;
  }

  #shop_with_us {
    height: 500px;
    width: 90%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
  }

  #first_res,
  #second_res,
  #thirs_res {
    height: 150px;
    width: 300px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
  }
  #first_res h3,
  #second_res h3,
  #thirs_res h3 {
    width: 70%;
    /* border: 1px solid; */
    background-color: grey;
  }
  #first_res span,
  #second_res span,
  #thirs_res span {
    top: 10px;
    /* border: 1px solid; */
    width: 70%;
    /* background-color: yellow; */
  }

  #contact {
    height: 800px;
    width: 90%;
    /* background-color: yellow; */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  #contact_2 {
    height: 300px;
    width: 90%;
    /* background-color: green; */
  }
  #contact_1 {
    height: 400px;
    width: 90%;
    /* background-color: blue; */
  }
  #iframe {
    height: 300px;
    width: 90%;
    margin: auto;
  }
  #name {
    position: absolute;
    height: 40px;
    width: 80%;
    left: 10px;
    top: 50px;
    font-size: 15px;
    border: none;
  }
  #number {
    position: absolute;
    height: 40px;
    width: 80%;
    left: 10px;
    top: 110px;
    border: none;
    font-size: 15px;
  }
  #email {
    position: absolute;
    height: 40px;
    width: 80%;
    border: none;
    left: 10px;
    top: 170px;
    font-size: 15px;
  }
  #message {
    position: absolute;
    height: 100px;
    width: 80%;
    border: none;
    left: 10px;
    top: 220px;
    font-size: 15px;
  }
  #send_btn {
    position: absolute;
    height: 40px;
    width: 20%;
    left: 10px;
    top: 330px;
    font-size: 15px;
  }
}
