* {
  margin: 0;
  padding: 0;
}
#container {
  height: auto;
  width: 100%;
  margin: auto;
}
#logo {
  padding: 20px;
}
#home {
  background-color: blue;
  border-radius: 25px;
}
#nav {
  z-index: 1;
  position: sticky;
  top: 0;
  height: 50px;
  background-color: #eae6f5;
}
#nav ul {
  list-style: none;
  padding: 10px;
}
#nav ul li {
  display: inline;
}
#nav ul li a {
  color: black;
  font-family: candara;
  font-size: 20px;
  margin-left: 120px;
  text-decoration: none;
}
#nav ul li a:hover {
  color: black;
}
#services_page {
  height: 500px;
  background-color: #eae6f5;
  width: 100%;
  position: relative;
}
#Electrical_text {
  /* color: yellow; */
  position: absolute;
  width: 220px;
  /* background-color: blue; */
  margin-top: 100px;
  margin-left: 100px;
}
#Electrical_img {
  border-radius: 220px;
  float: right;
  border: 5px solid blue;
  height: 400px;
  margin-right: 200px;
  margin-top: 130px;
}
Electrical_img :hover {
  border-radius: 120px;
}
#Electrical_text_2 {
  position: absolute;
  /* color: red; */
  margin-top: 240px;
  width: 400px;
  margin-left: 70px;
}
#contact_div {
  width: 200px;
  background-color: blue;
  border-radius: 50px;
  position: relative;
  height: 45px;
  position: absolute;
  margin-top: 360px;
  margin-left: 70px;
  display: flex;
  align-items: center;
}
#contact_btn {
  /* color: red; */
  width: 400px;
  margin-left: 20px;
  align-items: center;
  position: absolute;
}
#contact_btn a {
  text-decoration: none;
  color: black;
}
#ouer_services {
  height: 600px;
  /* background-color: blue; */

  /* position: relative; */
  width: 100%;
}
#ouer_services_1 {
  height: 350px;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-around;
}
#ouer_services_img_1,
#ouer_services_img_3,
#ouer_services_img_2 {
  height: 280px;
  margin-top: 30px;
  background-color: whitesmoke;
  width: 320px;
  position: relative;
}

#ouer_services_img_2,
#ouer_services_img_1,
#ouer_services_img_3,
img {
  margin-left: 100px;
  margin-top: 40px;
}
#ouer_services_img_2,
#ouer_services_img_1,
#ouer_services_img_3,
h3 {
  margin-left: 80px;
  margin-top: 20px;
}
#ouer_services_img_2,
#ouer_services_img_1,
#ouer_services_img_3,
span {
  padding: 20px;
}
#ouer_services_2 {
  height: 350px;
  display: flex;
  justify-content: space-around;
}
#ouer_services_img_4,
#ouer_services_img_5,
#ouer_services_img_6 {
  height: 280px;
  margin-top: 30px;
  background-color: whitesmoke;
  width: 320px;
  position: relative;
}

#ouer_services_img_4,
#ouer_services_img_5,
#ouer_services_img_6,
img {
  margin-left: 100px;
  margin-top: 40px;
}
#ouer_services_img_4,
#ouer_services_img_5,
#ouer_services_img_6,
h3 {
  margin-left: 80px;
  margin-top: 20px;
}
#ouer_services_img_4,
#ouer_services_img_5,
#ouer_services_img_6,
span {
  padding: 20px;
}

#read_more {
  width: 200px;
  background-color: blue;
  border-radius: 50px;
  margin-top: 150px;
  margin-left: 670px;
  height: 45px;
}
#read_btn {
  width: 400px;
  margin-left: 25px;
}
#read_btn a {
  text-decoration: none;
  color: black;
}
#about_page {
  height: 700px;
  background-color: #f3f0f6;
  position: relative;
}
#about_text h1 {
  margin-left: 100px;
}
#about_img_div {
  margin-right: 500px;
}
#about_img {
  position: absolute;
  height: 350px;
  border-radius: 200px;
  border: 5px solid blue;
  margin-left: 600px;
}
#about_img_div_1 {
  float: right;
  margin-right: 100px;
}
#about_img_1 {
  /* position: absolute; */
  height: 250px;
  border-radius: 200px;
  border: 5px solid blue;
  margin-right: 200px;
  margin-top: 300px;
}
#about_div {
  position: absolute;
  width: 450px;
  margin-left: 100px;
  /* border: 1px solid; */
}
#about_text_2 {
  height: auto;
  color: black;
  font-size: 20px;
}
#blog_div {
  /* position: relative; */
  height: 600px;
  width: 90%;
  /* background-color: blue; */
  display: flex;
  justify-content: space-around;
  margin: auto;
}
#first {
  position: relative;
  height: 550px;
  width: 600px;
  background-color: white;
  margin: auto;
  border: 2px solid;
}
#second {
  border: 2px solid;
  margin: auto;
  height: 550px;
  width: 600px;
  background-color: white;
}
#blog_img {
  position: absolute;
  height: 400px;
  width: 600px;
  background-color: white;
  margin: auto;
}
#blog_img_1 {
  position: absolute;
  height: 400px;
  width: 600px;
  background-color: white;
  margin: auto;
}
#first h3 {
  position: absolute;
  margin-top: 430px;
  margin-left: 150px;
}
#first span {
  position: absolute;
  width: 400px;
  margin-top: 450px;
  margin-left: 40px;
}
#second h3 {
  position: absolute;
  margin-top: 430px;
  margin-left: 150px;
}
#second span {
  position: absolute;
  width: 400px;
  margin-top: 450px;
  margin-left: 40px;
}
#contact {
  height: 700px;
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-around;
}
#contact h1 {
  /* border: 1px solid; */
  height: 50px;
  /* width: 120px; */
  /* background-color: blue; */
  margin-left: 100px;
  margin-top: 30px;
}
#form_1 {
  margin-top: 100px;
  border: 1px solid;
  height: auto;
}
#form_1 form {
  padding-top: 10px;
}
#name {
  height: 50px;
  width: 500px;
  font-size: 25px;
}
#email {
  height: 50px;
  width: 500px;
  font-size: 25px;
}
#phone {
  height: 50px;
  width: 500px;
  font-size: 25px;
}
#message {
  height: 150px;
  width: 500px;
  font-size: 25px;
}
#form_1 button {
  height: 50px;
  width: 100px;
  margin-top: 70px;
}
