#first {
  height: 70px;
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
}
#firstOne {
  height: 70px;
  width: 200px;
  background-color: white;
}
#firstTwo {
  height: 70px;
  width: 750px;
  background-color: rgb(174, 255, 0);
}
#firstThree {
  height: 70px;
  width: 250px;
  background-color: rgb(255, 136, 0);
}
#firstFour {
  height: 70px;
  width: 250px;
  background-color: rgb(255, 13, 0);
}
#flip {
  margin-top: 20px;
}
